* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border: 0;
}

button:focus {
    outline: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background: url(../images/header-background.jpg) no-repeat;
    background-size: 100% 100%;
}

header:before {
    content: "";
    display: block;
    border-bottom: 1px solid #A1A1A1;
    opacity: 0.5;
    position: absolute;
    top: 100px;
    width: 100%;
}

header .wrapper {
    width: 1110px;
    margin: 0  auto;
    padding-bottom: 335px;

}

header .wrapper ul {
    display: flex;
    justify-content: flex-end;
}

header .wrapper li {
    padding: 40px 0 39px 0;
    margin-right: 40px;
    position: relative;
}

header .wrapper li:last-child {
    margin-right: 0;
}

header .wrapper li:hover:after {
    content: "";
    top: 100%;
    position: absolute;
    width: 100%;
    display: block;
    border-bottom: 2px solid #ffffff;
}

header .wrapper li a {
    color: #ffffff;
    font-weight: 500;
    line-height: 20px;
}

header .title{
    color: #ffffff;
    line-height: 20px;
    font-weight: 500;
    margin: 219px auto 20px;
    width: 175px;
    text-align: center;
}

header h1 {
    width: 829px;
    margin: 0 auto;
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;    
}

header .btn {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

header button {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 13px 36px 15px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

section.services {
    background: #E5E5E5;
}

section.services .wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 110px 0 105px;
}

section.services h2 {
    width: 739px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    display: block;
    margin: 0 auto 50px;
}

section.services .description {
    width: 730px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: 0 auto;
    margin-bottom: 80px;
}

section.services .service {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

section.services .service .service-item {
    display: flex;
}

section.services .service .service-item .img {
    margin-right: 17px;
}

section.services .service .service-item .container {
    margin-top: 50px;
}


section.services .service .service-item .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}

section.services .service .service-item .lorem {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

section.services .btn {
    display: flex;
    justify-content: center;
}


section.services button {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 13px 36px 15px;
    margin-top: 55px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

section.about-us {
    background: #F6F6F8;
    padding: 100px 0 70px;
}

section.about-us .wrapper {
    width: 1110px;
    margin: 0 auto;
}

section.about-us .container {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 90px;
    justify-content: space-between;
    margin-bottom: 77px;
}

section.about-us .container .about-text {
    margin-top: 52px;
}

section.about-us .container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    width: 424px;
    margin-bottom: 40px;
}

section.about-us .container .description {
    width: 489px;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 30px;
}

section.about-us .container .details a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

section.about-us .container img {
    width: 500px;
    height: 400px;
}

section.about-us .project-items {
    display: flex;
    justify-content: space-around;
}

section.about-us .container-img-number {
    display: flex;
    align-items: baseline;
}

section.about-us .container-img-number img {
    width: 30px;
    height: 30px;
    margin: 0 20px 15px 0;
}

section.about-us .container-img-number .number {
    font-size: 36px;
    line-height: 53px;
}

section.about-us .project .name {
    margin-top: 17px;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

section.all-services {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

section.all-services .wrapper {
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0 302px;
    position: relative;
}

section.all-services .wrapper .container {
    display: flex;
    justify-content: space-between;
}

section.all-services .wrapper .container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    width: 540px;
}

section.all-services .wrapper .btn {
    display: flex;
    align-items: center;
}

section.all-services .wrapper button {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 13px 36px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

section.all-services .works {
    position: absolute;
    top: 258px;
    display: flex;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

section.all-services .item img {
    width: 350px;
    height: 300px;
    margin-bottom: 30px;
}

section.all-services .item .name {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}

section.all-services .item h3 {
    color: #4985FF;
}

section.all-services .item .description {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    text-align: left;
    margin-bottom: 30px;
}

section.all-services .item .details {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}

section.all-services .item .details a {
    color: #4985FF;
}

section.all-project {
    background: #F6F6F8;
    margin-top: 482px;
    padding: 100px 0 130px;
}

section.all-project .wrapper {
    width: 1110px;
    margin: 0 auto;
}

section.all-project .wrapper h2 {
    text-align: center;
    margin-bottom: 50px;
}

section.all-project .wrapper .description {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    width: 730px;
    margin: 0 auto 70px;
}

section.all-project .wrapper .projects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

section.all-project .wrapper .projects img {
    width: 255px;
    height: 255px;
}

section.all-project .wrapper .btn {
    display: flex;
    justify-content: center;
}

section.all-project .wrapper button {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 13px 36px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}   

section.video {
    background: url(../images/video-background.jpg) no-repeat;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: 100% 100%;
    height: 570px;
}

section.video .wrapper {
    width: 1110px;
    position: absolute;
    top: 70px;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

section.video h2 {
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

section.video .description {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px;
}

section.video .video-content {
    background: url(../images/video-img.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    height: 430px;
}

section.video .video-content button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 29px 20px 40px;
}

section.video .video-content button p {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: 21px;
}

section.subcribe {
    background: #E5E5E5;
    padding: 250px 0 85px 0; 
}

section.subcribe .wrapper {
    width: 1110px;
    margin: 0 auto;
}

section.subcribe .wrapper h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 20px;
}

section.subcribe .wrapper .description {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}

section.subcribe .wrapper form {
    width: 489px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

section.subcribe .wrapper input {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px 0 0 30px;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    padding: 0 0 0 33px;
    height: 45px;
    width: 299px;
}

section.subcribe .wrapper input:focus {
    outline: none;
}

section.subcribe .wrapper button {
    height: 45px;
    width: 190px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

section.subcribe .wrapper .text {
    margin-top: 35px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}

footer {
    background: #F6F6F8;
    padding: 70px 0 30px 0;
}

footer .wrapper {
    width: 1110px;
    margin: 0 auto;    
}

footer .wrapper nav {
    padding-bottom: 70px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 30px;
}

footer .wrapper .menu {
    display: flex;
    justify-content: space-between;
}

footer .wrapper .menu p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px;
}

footer .wrapper .menu li li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

footer .wrapper .menu .contact li img {
    margin-right: 16.73px;
}

footer .wrapper .menu li li:last-child {
    margin-bottom: 0;
}

footer .wrapper .menu li li a {
    color: #999999;
}

footer .wrapper .menu .link li:before, footer .wrapper .menu .project li:before, footer .wrapper .menu .social li:before {
    content: "\203A";
    display: block;
    color: #999999;
    font-size: 22px;
    margin-right: 12.6px;
}

footer .wrapper .copyright {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}